<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> Recurring Donor Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body
    style="background-color: #D4EDF1; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 17px"
  >
    <div style="margin: 0 20px 0 20px">
      <header>
        <p style="margin-top: 22px;">Dear {{firstName}} {{dearDonorStr}},</p>
      </header>
      <section style="line-height: 20px;">
        <p>
          Thank you for your continued support of Common Threads Project. With
          your gift of
          {{donationAmount}}
          on
          {{donationDate}}
          you are providing a circle of hope for survivors of sexual violence
          around the world.
        </p>
        <section style="">

          <img
            style="border-radius: 16px;"
            src="https://iili.io/dbhzSix.webp"
            alt="hands up!"
            width="50%"
          />
          <p>Because of you, women, girls, and men who’ve endured unspeakable
            violence will be able to recover and reclaim their lives
            <a href="https://youtu.be/fmey3CO_RaM?si=CCkC42b74T7kkEsr">(Learn
              more about our integrative approach to trauma healing)</a>.</p>

          <p>
            Your support at this crucial time is helping our program reach
            <strong>hundreds of survivors of gender-based violence in Ecuador,
              Nepal, Nigeria, and the United States.</strong>​ Incredible teams
            of local clinicians are leading therapy groups—and your donations
            help these sessions run.</p>

          <p>We are grateful for your support of Common Threads Project and the
            hope you give survivors of gender-based violence violence. This is
            what you make possible:</p>
          <div style="padding-top: 5px">
            <img
              src="https://iili.io/dbhnEox.webp"
              style="border-radius: 16px;"
              alt="circle of fists"
              width="50%"
            />
            <em>
              <p>“I was a person who lost all hope given my difficult past.
                Thanks to this Common Threads group, I have hope again.”</p></em>
            <p style="padding-left: 10px"> - New York participant, 2023</p>

          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhfDan.webp"
              alt="cirle inside"
              width="50%"
            />
            <em>
              <p>“Each stitch helps to recover from my painful experience. My
                body is feeling much lighter than before, and I am able to
                concentrate on my daily work.”</p></em>
            <p style="padding-left: 10px"> - Nepal participant, 2023</p>
          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhz36Q.webp"
              alt="cirle outside"
              width="50%"
            />
            <em>
              <p>“Being a part of the arpilleras (story cloth) group 12 years
                ago changed my life completely in every sense. ... After our
                work in arpilleras, I empowered myself with what I learned: the
                worth I have, the strength I have to overcome any obstacle.”</p></em>
            <p style="padding-left: 10px">
              - Ecuador participant, reflecting on her experience in 2012</p>
          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhKa0F.webp"
              alt="cirle outside"
              width="50%"
            />
            <em>
              <p>“I wish we could do this everyday.”</p></em>
            <p style="padding-left: 10px">
              - Nigeria participant, 2024</p>
          </div>
        </section>

        <p style="padding-top: 10px">The participants of Common Threads Project
          appreciate your belief in the possibility of healing.
        </p>

        <p style="font-weight: bold;"> {{taxParagraph}} </p>

      </section>
      <footer>
        <ul style="list-style: none; margin-left: 0; padding-left: 0">
          <li style="margin: 5px">With gratitude and best wishes,</li>
          <li style="margin: 10px 0">
            <img
              src="https://iili.io/dbhHP0G.png"
              alt="signature"
              width="150px"
              height="50px"
            />
          </li>

          <section style="display:flex; gap: 20px;">
            <div>
              <li style="margin: 5px">Vesna Golic.</li>
              <li style="margin: 5px">Executive Director</li>
              <li style="margin: 5px">Common Threads Project</li>
            </div>
            <li>
              <img
                src="https://images.squarespace-cdn.com/content/v1/5b7eeaf2c258b4a04473be79/1563828132352-Y3LYHVJEF6K6ACTZTM4I/masterlogo+transparent.png"
                alt="organization logo"
                width="150px"
                height="100px"
                style="padding-left: 50px"
              />
            </li>
          </section>

          <div style="margin-top: -30px">
            <li style="margin-left: 3px"><a
                href="www.commonthreadsproject.org"
                target="_blank"
                rel="noopener noreferrer"
              >www.commonthreadsproject.org</a></li>
            <li>
              <p>Follow us on
                <a
                  href="https://www.facebook.com/CommonThreadsProject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Facebook</a>,
                <a
                  href="https://twitter.com/commonthreadspr"
                  target="_blank"
                  rel="noopener noreferrer"
                >Twitter</a>,
                <a
                  href="https://www.instagram.com/commonthreadsproject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Instagram</a>, and
                <a
                  href="https://www.linkedin.com/company/9446569/"
                  target="_blank"
                  rel="noopener noreferrer"
                >LinkedIn</a></p>
            </li>
            <li>ph: +1 301 928 7907</li>
            <li>25 Plaza Street West Apt. 3F</li>
            <li>Brooklyn, N.Y. 11217</li>
          </div>
        </ul>
      </footer>

    </div>

  </body>
</html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> Recurring Donor Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body
    style="background-color: #D4EDF1; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 17px"
  >
    <div style="margin: 0 20px 0 20px">
      <header>
        <p style="margin-top: 22px;">Dear {{firstName}} {{dearDonorStr}},</p>
      </header>
      <section style="line-height: 20px;">
        <p>
          Thank you for your continued support of Common Threads Project. With
          your gift of
          {{donationAmount}}
          on
          {{donationDate}}
          you are providing a circle of hope for survivors of sexual violence
          around the world.
        </p>
        <section style="">

          <img
            style="border-radius: 16px;"
            src="https://iili.io/dbhzSix.webp"
            alt="hands up!"
            width="50%"
          />
          <p>Because of you, women, girls, and men who’ve endured unspeakable
            violence will be able to recover and reclaim their lives
            <a href="https://youtu.be/fmey3CO_RaM?si=CCkC42b74T7kkEsr">(Learn
              more about our integrative approach to trauma healing)</a>.</p>

          <p>
            Your support at this crucial time is helping our program reach
            <strong>hundreds of survivors of gender-based violence in Ecuador,
              Nepal, Nigeria, and the United States.</strong>​ Incredible teams
            of local clinicians are leading therapy groups—and your donations
            help these sessions run.</p>

          <p>We are grateful for your support of Common Threads Project and the
            hope you give survivors of gender-based violence violence. This is
            what you make possible:</p>
          <div style="padding-top: 5px">
            <img
              src="https://iili.io/dbhnEox.webp"
              style="border-radius: 16px;"
              alt="circle of fists"
              width="50%"
            />
            <em>
              <p>“I was a person who lost all hope given my difficult past.
                Thanks to this Common Threads group, I have hope again.”</p></em>
            <p style="padding-left: 10px"> - New York participant, 2023</p>

          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhfDan.webp"
              alt="cirle inside"
              width="50%"
            />
            <em>
              <p>“Each stitch helps to recover from my painful experience. My
                body is feeling much lighter than before, and I am able to
                concentrate on my daily work.”</p></em>
            <p style="padding-left: 10px"> - Nepal participant, 2023</p>
          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhz36Q.webp"
              alt="cirle outside"
              width="50%"
            />
            <em>
              <p>“Being a part of the arpilleras (story cloth) group 12 years
                ago changed my life completely in every sense. ... After our
                work in arpilleras, I empowered myself with what I learned: the
                worth I have, the strength I have to overcome any obstacle.”</p></em>
            <p style="padding-left: 10px">
              - Ecuador participant, reflecting on her experience in 2012</p>
          </div>
          <div style="padding-top: 5px; margin-bottom: 35px">
            <img
              style="border-radius: 16px;"
              src="https://iili.io/dbhKa0F.webp"
              alt="cirle outside"
              width="50%"
            />
            <em>
              <p>“I wish we could do this everyday.”</p></em>
            <p style="padding-left: 10px">
              - Nigeria participant, 2024</p>
          </div>
        </section>

        <p style="padding-top: 10px">The participants of Common Threads Project
          appreciate your belief in the possibility of healing.
        </p>

        <p style="font-weight: bold;"> {{taxParagraph}} </p>

      </section>
      <footer>
        <ul style="list-style: none; margin-left: 0; padding-left: 0">
          <li style="margin: 5px">With gratitude and best wishes,</li>
          <li style="margin: 10px 0">
            <img
              src="https://iili.io/dbhHP0G.png"
              alt="signature"
              width="150px"
              height="50px"
            />
          </li>

          <section style="display:flex; gap: 20px;">
            <div>
              <li style="margin: 5px">Vesna Golic.</li>
              <li style="margin: 5px">Executive Director</li>
              <li style="margin: 5px">Common Threads Project</li>
            </div>
            <li>
              <img
                src="https://images.squarespace-cdn.com/content/v1/5b7eeaf2c258b4a04473be79/1563828132352-Y3LYHVJEF6K6ACTZTM4I/masterlogo+transparent.png"
                alt="organization logo"
                width="150px"
                height="100px"
                style="padding-left: 50px"
              />
            </li>
          </section>

          <div style="margin-top: -30px">
            <li style="margin-left: 3px"><a
                href="www.commonthreadsproject.org"
                target="_blank"
                rel="noopener noreferrer"
              >www.commonthreadsproject.org</a></li>
            <li>
              <p>Follow us on
                <a
                  href="https://www.facebook.com/CommonThreadsProject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Facebook</a>,
                <a
                  href="https://twitter.com/commonthreadspr"
                  target="_blank"
                  rel="noopener noreferrer"
                >Twitter</a>,
                <a
                  href="https://www.instagram.com/commonthreadsproject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Instagram</a>, and
                <a
                  href="https://www.linkedin.com/company/9446569/"
                  target="_blank"
                  rel="noopener noreferrer"
                >LinkedIn</a></p>
            </li>
            <li>ph: +1 301 928 7907</li>
            <li>25 Plaza Street West Apt. 3F</li>
            <li>Brooklyn, N.Y. 11217</li>
          </div>
        </ul>
      </footer>

    </div>

  </body>
</html>